<h1>You Fell In Love With <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "dog") { %>
<p> Good Choice !!! Doges are the best</p>
<% } else { %>
<p> Bad choice.. You Should have picked dog !!!</p>

<%  } %>

<p>P.S This is Coming from the love.ejs File</p>