<h1>This is The Secret page</h1>

<img src="https://home.bt.com/images/secrets-of-windows-10-136420161148802601-170807153316.png">

<li><a href="/register">Sign Up</a></li>
<li> <a href="/login">Log In</a></li>
<li> <a href="/logout">Log Out</a></li>